<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <!-- Load the spring configuration file from the classpath, the classpath keyword specifically refers to loading under the classpath -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:book-context.xml</param-value>
    </context-param>
   <!--. Responsible for starting the listener of the spring container. It will refer to the context parameter at 1 to obtain the address of the spring configuration file -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>
<!-- spring MVC main control servlet -->    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
<!--The mapping URL of the main control servlet of spring MVC -->    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/api/</url-pattern>
    </servlet-mapping>
</web-app>
